.work__container{
  grid-template-columns: repeat(3, 270px);
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.work__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: var(--mb-2);
  flex-wrap: wrap;
  gap: 0.5rem;
}

.work__item {
  background-color: transparent;
  cursor: pointer;
  color: #888;
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
  text-transform: capitalize;
  transition: .3s;
}

.work__item:hover {
  background-color: var(--title-color);
  color: var(--container-color);
}

.active-work {
  color: var(--title-color-dark);
  background-color: var(--title-color);
  color: var(--container-color);
}

.project__card {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 1px 4px rgb(0 0 0/14%);
  height: 380px;
  transition: .3s;
}

.project__card:hover {
  transform: translateY(-.5rem);
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}

.project__data {
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

.project__img__card {
  height: 100px;
  width: 100%;  
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 1px 4px rgb(0 0 0/14%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.project__img {
  height: 60%;
  object-fit: contain;
}

.project__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.5rem;
}

.project__description {
  text-align: start;
  font-size: var(--smaller-font-size);
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  gap: 0.4rem;
}

.tags li {
  box-shadow: 0 1px 4px rgb(0 0 0/14%);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: var(--tiny-font-size);
  color: var(--title-color);
  background-color: var(--body-color);
}

/* Breakpoints */
@media screen and (max-width: 992px) {
  .work__container {
    grid-template-columns: repeat(2, 270px);
  }
}

@media screen and (max-width: 768px) {
  .work__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .work__container {
    grid-template-columns: 1fr;
    max-width: 350px;
    margin: 0 auto;
  }
  
  .project__card {
    height: auto;
    min-height: 380px;
  }
}

@media screen and (max-width: 350px) {
  .work__container {
    grid-template-columns: 1fr;
  }
}
